*{
    margin: 0;
    padding: 0
    ;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}
header div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
    
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}
.hcolor {
    color: rgb(176, 24, 24);
}

header img {
    animation-name: heart;
}